/* Start Global Variables */
:root {
--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);
--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}
/* End Global Variables */

/* Start Global Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Spartan';
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--Light-Grayish-Magenta);
    background: url(../images/bg-pattern-top-desktop.svg) no-repeat top left, url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
}
p, strong {
    font-size: 0.7rem;
}

/* End Global Rules */

/* Start Styling */
.container {
    width: 68%;
}
.social-proof {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5em;
}
.social-proof .top {
    display: flex;
    justify-content: space-between;
    height: 15em;
}
.social-proof .top .text {
    width: 40%;
}
.social-proof .top .text h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 3rem;
    line-height: 0.9;
    margin-bottom: 0.5em;
}
.social-proof .top .text p {
    color: var(--Dark-Grayish-Magenta);
    line-height: 1.2;
    font-size: 0.85rem;
    font-weight: 500;
}
.social-proof .top .ratings .rating-box {
    background-color: hsla(303, 10%, 53%, 0.1);
    width: 26em;
    padding: 1em 1em 1em 1.5em;
    margin-bottom: 1em;
}
.social-proof .top .ratings .rating-box:first-child {
    transform: translateX(-100px);
}
.social-proof .top .ratings .rating-box:nth-child(2) {
    transform: translateX(-50px);
}
.social-proof .top .ratings .rating-box .rating-stars {
    display: inline;
    margin-right: 1em;
}
.social-proof .top .ratings .rating-box .rating-stars i {
    color: orange;
    margin-right: 0.1em;
}
.social-proof .top .ratings .rating-box span {
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    font-size: 0.9rem;
}

.social-proof .bottom {
    height: 12em;
    display: flex;
    justify-content: space-between;
}
.social-proof .bottom .review-box {
    color: #fff;
    font-size: 0.8rem;
    background-color: var(--Very-Dark-Magenta);
    padding: 2em;
    border-radius: 0.7em;
    width: 32%;
}
.social-proof .bottom .review-box:nth-child(2) {
    transform: translateY(20px);
}
.social-proof .bottom .review-box:last-child {
    transform: translateY(40px);
}
.social-proof .bottom .review-box .reviewer-info {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.social-proof .bottom .review-box .reviewer-info img {
    width: 2.5em;
    border-radius: 50%;
    margin-right: 1em;
}
.social-proof .bottom .review-box .reviewer-info .reviewer-info-txt {
    display: flex;
    flex-direction: column;
}
.social-proof .bottom .review-box .reviewer-info .reviewer-info-txt p {
    color: var(--Soft-Pink);
    margin-top: 0.4em;
}
.social-proof .bottom .review-box > p {
    width: 90%;
    line-height: 1.6;
    color: var(--Light-Grayish-Magenta);
}
.attribution {
    font-size: 0.8rem;
}
.attribution a {
    text-decoration: none;
    color: var(--Very-Dark-Magenta);
    font-weight: 500;
    font-size: 0.9rem;
    transition: ease-in .3s;
}
.attribution a:hover {
    text-decoration: underline;
    opacity: 0.7;
}
/* End Styling */

/* Media Queries */
@media (max-width: 1300px) {
    .container {
        width: 90%;
    }
    .social-proof {
        height: 65vh;
    }
    .social-proof .top .ratings .rating-box {
        width: 24em;
    }
    .social-proof .top .ratings .rating-box span {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    body {
        min-height: 190vh;
    }
    .container {
        min-height: 100%;
    }
    .social-proof .top {
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-top: 5em;
        margin-bottom: 3em;
    }
    .social-proof .top .text {
        text-align: center;
        width: 60%;
        margin-bottom: 2em;
    }
    .social-proof .top .text h1 {
        line-height: 1.2;
    }
    .social-proof .top .text p {
        line-height: 1.6;
    }
    .social-proof .top .ratings .rating-box {
        transform: none;
    }
    .social-proof .top .ratings .rating-box:first-child {
        transform: none;
    }
    .social-proof .top .ratings .rating-box:nth-child(2) {
        transform: none;
    }
    .social-proof .bottom {
        flex-direction: column;
        align-items: center;
    }
    .social-proof .bottom .review-box {
        width: 30em;
    }
    .social-proof .bottom .review-box > p {
        width: 100%;
    }
    .attribution {
        display: none;
    }
}

@media (max-width: 570px) {
    .social-proof .top .text {
        width: 92%;
    }
    .social-proof .top .text h1 {
        font-size: 2rem;
        line-height: 1.1;
    }
    .social-proof .top .text p {
        line-height: 1.6;
    }
    .social-proof .top .ratings .rating-box {
        max-width: 84%;
        margin: 1em auto;
        text-align: center;
    }
    .social-proof .top .ratings .rating-box .rating-stars {
        display: block;
        margin-bottom: 0.6em;
    }
    .social-proof .bottom .review-box {
        max-width: 92%;
    }
}